<div class="page-nav h-container">
	<IconButton on:click="$switchDay(-1)" icon="skip-previous"></IconButton>
	<select bind:value="$dayIndex">
		{#each $program.days as day, dayIndex}
		<option value="{dayIndex}">
		{day.name}{getStateIndicator($workout.days[dayIndex].state)}
		</option>
		{/each}
	</select>
	<IconButton on:click="$switchDay(1)" icon="skip-next"></IconButton>
</div>

<script>
import constants from "../../script/helper/constants";
import IconButton from "./iconButton.svelte";

const { repStates } = constants;

export default {
	components: {
		IconButton
	},
	helpers: {
		getStateIndicator: state => {
			switch (state) {
				case repStates.REP_STATE_DONE:
					return "✓";
				case repStates.REP_STATE_FAILED:
					return "✗";
				default:
					return "⁣";
			}

		}
	}
};
</script>