<div
	class="modal"
	style="z-index: {zIndex};"
	on:click="fire('click', event)"
 >
	<slot/>
</div>

<script>
const baseZ = 50;

let zIndex = baseZ;

export default {
	oncreate() {
		if (zIndex === baseZ) {
			// first modal created
			document.body.classList.add("has-modal");
		}
		zIndex++;
	},
	ondestroy() {
		zIndex--;
		if (zIndex === baseZ) {
			// last modal destroyed
			document.body.classList.remove("has-modal");
		}
	},
	data() {
		return {
			zIndex
		};
	}
};
</script>