<Dialog on:modalClick="onClose()">
	{#if caption}
	<h3>{caption}</h3>
	{/if}
	<div class="message">{message}</div>

	<div class="buttons">
		<button on:click="onClose()">{lang("dialog.close")}</button>
	</div>
</Dialog>

<script>
import Dialog from "./dialog.svelte";
import baseData from "../../script/baseData";

export default {
	components: {
		Dialog
	},
	data() {
		return baseData;
	},
	methods: {
		onClose() {
			this.fire("confirm");
			this.destroy();
		}
	}
};
</script>