<Dialog on:modalClick="onCancel()">
	{#if caption}
	<h3>{caption}</h3>
	{/if}
	<div class="message">{message}</div>

	<div class="buttons">
		<button on:click="onOk()">{lang("dialog.ok")}</button>
		<button on:click="onCancel()">{lang("dialog.cancel")}</button>
	</div>
</Dialog>

<script>
import Dialog from "./dialog.svelte";
import baseData from "../../script/baseData";

export default {
	components: {
		Dialog
	},
	data() {
		return baseData;
	},
	methods: {
		onCancel() {
			this.fire("cancel");
			this.destroy();
		},
		onOk() {
			this.fire("confirm");
			this.destroy();
		}
	}
};
</script>