<Modal on:click="onModalClick(event)">
	<div class="modal-content box">
		<slot/>
	</div>
</Modal>

<script>
import Modal from "../ui/modal.svelte";

export default {
	components: {
		Modal
	},
	methods: {
		onModalClick(e) {
			if (e.target === e.currentTarget) {
				// do not let click bubble to other modals
				e.stopPropagation();
				this.fire("modalClick");
			}
		}
	}
};
</script>