<Dialog on:modalClick="onCancel()">
	<form on:submit="onSubmit(event)">
		<label>
			<span class="label">{lang("dialog.lift.label.label")}</span>
			<input
				ref:editName
				name="label"
				type="text"
				value="{lift.name}"
				required
			>
		</label>
		<label>
			<span class="label">{lang("dialog.lift.label.weight")}</span>
			<input
				ref:editWeight
				name="weight"
				type="number"
				min="0"
				max="2000"
				step="0.25"
				value="{lift.weight.toFixed(2)}"
				required
			>
		</label>

		<div class="buttons">
			<button type="submit">{lang("dialog.ok")}</button>
			<button type="button" on:click="onCancel()">{lang("dialog.cancel")}</button>
		</div>
	</form>
</Dialog>

<script>
import Dialog from "./dialog.svelte";
import baseData from "../../script/baseData";

export default {
	components: {
		Dialog
	},
	computed: {
		formattedWeight: ({ lift }) => {
			return lift.weight.toFixed(2);
		}
	},
	data() {
		return baseData;
	},
	methods: {
		onCancel() {
			this.fire("cancel");
			this.destroy();
		},
		onSubmit(e) {
			e.preventDefault();

			const lift = {
				name: this.refs.editName.value,
				weight: Number(this.refs.editWeight.value)
			};

			this.fire("confirm", lift);
			this.destroy();
		}
	},
	oncreate() {
		this.refs.editWeight.focus();
	}
};
</script>