<NavLink route="workout">
<div class="dash-item box box-hover">
	<span class="icon fitness-center"></span>
	<h3>
		{lang("page.workout")}
	</h3>
	<span>{lang("page.workout.description")}</span>
</div>
</NavLink>
<NavLink route="program">
<div class="dash-item box box-hover">
	<span class="icon receipt"></span>
	<h3>
		{lang("page.program")}
	</h3>
	<span>{lang("page.program.description")}</span>
</div>
</NavLink>
<NavLink route="lifts">
<div class="dash-item box box-hover">
	<span class="icon apps"></span>
	<h3>
		{lang("page.lifts")}
	</h3>
	<span>{lang("page.lifts.description")}</span>
</div>
</NavLink>
<NavLink route="settings">
<div class="dash-item box box-hover">
	<span class="icon settings"></span>
	<h3>
		{lang("page.settings")}
	</h3>
	<span>{lang("page.settings.description")}</span>
</div>
</NavLink>

<script>
import baseData from "../../script/baseData";

import NavLink from "../navLink.svelte";

export default {
	components: {
		NavLink
	},
	data() {
		return baseData;
	},
	methods: {
		load() {
			return Promise.resolve();
		}
	}
};
</script>