{#each Object.entries($lifts).sort(liftSorter) as [liftId, lift] }
<div class="lift-item box box-hover clickable" data-id={liftId} on:click="edit(event)">
	<div class="header" title="{lift.name}">{lift.name}</div>
	<hr>
	<span>{lift.weight}</span>
</div>
{/each}

<script>
import dialogs from "../../script/dialogs";

export default {
	helpers: {
		liftSorter([, lift1], [, lift2]) {
			return lift1.name.localeCompare(lift2.name);
		}
	},
	methods: {
		load() {
			return Promise.resolve();
		},
		edit(e) {
			const liftId = e.target.closest(".lift-item").dataset.id;

			dialogs
				.lift({ lift: this.store.get().lifts[liftId] })
				.then(
					this.store.updateLift.bind(this.store, liftId),
					() => {}
				);
		}
	}
};
</script>