<pre>---WORK IN PROGRESS---</pre>
<a class="link" href="https://jsonblob.com/{$storeId}" target="_blank">open JSON in new tab</a>
{#each $program.days as day, dayIndex}
<ul>
	<li>{day.name}
		<ul>
			{#each day.sets as set, setIndex}
			<li>{$lifts[set.liftId].name}
				<ul>
					{#each set.reps as rep, repIndex}
					<li>{rep.count} {rep.ratio ? "× " + (rep.ratio * 100).toFixed(0) + "%" : ""}</li>
					{/each}
				</ul>
			</li>
			{/each}
		</ul>
	</li>
</ul>
{/each}

<script>
export default {
	methods: {
		load() {
			return Promise.resolve();
		}
	}
};
</script>