<pre>---WORK IN PROGRESS---</pre>
<a class="link" href="https://jsonblob.com/{$storeId}" target="_blank">open JSON in new tab</a>

<script>
export default {
	methods: {
		load() {
			return Promise.resolve();
		}
	}
};
</script>