<svelte:window on:keypress="onKeyPress(event)"/>

<DaySelect />
<div class="workout-sets">
	{#each $program.days[$dayIndex].sets as set, setIndex}
	<WorkoutSet data={{ workoutSet: set, setIndex, dayIndex: $dayIndex }}/>
	{/each}
</div>

{#if $workout.state}
<div class="footer buttons">
	<button class="float big" on:click="$startCycle()" title="{lang("page.workout.finishCycle.explanation")}">
		<span class="icon check-circle"></span> {lang("page.workout.finishCycle")}
	</button>
</div>
{/if}

<script>
import baseData from "../../script/baseData";
import DaySelect from "../ui/daySelect.svelte";
import WorkoutSet from "./workoutSet.svelte";
import constants from "../../script/helper/constants";

const { keyCodes, repStates } = constants;

export default {
	components: {
		DaySelect,
		WorkoutSet
	},
	data() {
		return baseData;
	},
	methods: {
		load() {
			return Promise.resolve();
		},
		onKeyPress(e) {
			switch (e.keyCode) {
				case keyCodes.d:
					e.preventDefault();
					this.setCurrentRepState(repStates.REP_STATE_DONE);
					break;
				case keyCodes.f:
					e.preventDefault();
					this.setCurrentRepState(repStates.REP_STATE_FAILED);
					break;
				default:
					break;
			}
		},
		setCurrentRepState(state) {
			const cursor = this.store.getCurrentRepCursor();

			if (cursor && cursor[0] === this.store.get().dayIndex) {
				// there is a unfinished rep on the current day
				this.store.switchRepState(...cursor, state);
			}
		}
	}
};
</script>
