<div
	class="workout-rep clickable {stateClass}"
	on:click="$switchRepState(data.dayIndex, data.setIndex, data.repIndex)"
	title="{tooltip}"
	>
	<span class="count">{data.rep.count}</span>

	{#if weight}
	<span class="mult">&#215;</span>
	<span class="weight">{weight.toFixed(1)}</span>
	{/if}
</div>

<script>
import constants from "../../script/helper/constants";
import repMax from "../../script/helper/repMax";
import roundWeight from "../../script/helper/roundWeight";

const { repStates } = constants;

function getRepWeight(liftData) {
	const { rep, lift } = liftData;

	if (!lift.weight) {
		return null;
	}

	let weight = rep.ratio ? (lift.weight * rep.ratio) : repMax.getWeight(lift.weight, rep.count);

	return roundWeight(weight);
}

export default {
	computed: {
		stateClass: ({ data, $workout }) => {
			const curState = $workout
				.days[data.dayIndex]
				.sets[data.setIndex]
				.reps[data.repIndex];

			switch (curState) {
				case repStates.REP_STATE_DONE:
					return "done";
				case repStates.REP_STATE_FAILED:
					return "failed";
				default:
					return "";
			}
		},
		tooltip: ({ data }) => {
			const weight = getRepWeight(data);

			if (weight === null || data.rep.count === 1) {
				return "";
			}

			return "1 RM: " + repMax.getRepMax(weight, data.rep.count).toFixed(1);
		},
		weight: ({ data }) => {
			return getRepWeight(data);
		}
	}
};
</script>