<div class="workout-set box">
	<div class="header" title="{lift.name}">{lift.name}</div>
	<hr>
	{#each data.workoutSet.reps as rep, repIndex}
	<WorkoutRep data={{ lift, rep, repIndex, setIndex: data.setIndex, dayIndex: data.dayIndex }}/>
	{/each}
</div>

<script>
import WorkoutRep from "./workoutRep.svelte";

export default {
	components: {
		WorkoutRep
	},
	computed: {
		lift: ({ data, $lifts }) => $lifts[data.workoutSet.liftId]
	}
};
</script>