.icon.3d-rotation:before {
	content: '\e84d';
}
.icon.ac-unit:before {
	content: '\eb3b';
}
.icon.access-alarm:before {
	content: '\e190';
}
.icon.access-alarms:before {
	content: '\e191';
}
.icon.access-time:before {
	content: '\e192';
}
.icon.accessibility:before {
	content: '\e84e';
}
.icon.accessible:before {
	content: '\e914';
}
.icon.account-balance:before {
	content: '\e84f';
}
.icon.account-balance-wallet:before {
	content: '\e850';
}
.icon.account-box:before {
	content: '\e851';
}
.icon.account-circle:before {
	content: '\e853';
}
.icon.adb:before {
	content: '\e60e';
}
.icon.add:before {
	content: '\e145';
}
.icon.add-a-photo:before {
	content: '\e439';
}
.icon.add-alarm:before {
	content: '\e193';
}
.icon.add-alert:before {
	content: '\e003';
}
.icon.add-box:before {
	content: '\e146';
}
.icon.add-circle:before {
	content: '\e147';
}
.icon.add-circle-outline:before {
	content: '\e148';
}
.icon.add-location:before {
	content: '\e567';
}
.icon.add-shopping-cart:before {
	content: '\e854';
}
.icon.add-to-photos:before {
	content: '\e39d';
}
.icon.add-to-queue:before {
	content: '\e05c';
}
.icon.adjust:before {
	content: '\e39e';
}
.icon.airline-seat-flat:before {
	content: '\e630';
}
.icon.airline-seat-flat-angled:before {
	content: '\e631';
}
.icon.airline-seat-individual-suite:before {
	content: '\e632';
}
.icon.airline-seat-legroom-extra:before {
	content: '\e633';
}
.icon.airline-seat-legroom-normal:before {
	content: '\e634';
}
.icon.airline-seat-legroom-reduced:before {
	content: '\e635';
}
.icon.airline-seat-recline-extra:before {
	content: '\e636';
}
.icon.airline-seat-recline-normal:before {
	content: '\e637';
}
.icon.airplanemode-active:before {
	content: '\e195';
}
.icon.airplanemode-inactive:before {
	content: '\e194';
}
.icon.airplay:before {
	content: '\e055';
}
.icon.airport-shuttle:before {
	content: '\eb3c';
}
.icon.alarm:before {
	content: '\e855';
}
.icon.alarm-add:before {
	content: '\e856';
}
.icon.alarm-off:before {
	content: '\e857';
}
.icon.alarm-on:before {
	content: '\e858';
}
.icon.album:before {
	content: '\e019';
}
.icon.all-inclusive:before {
	content: '\eb3d';
}
.icon.all-out:before {
	content: '\e90b';
}
.icon.android:before {
	content: '\e859';
}
.icon.announcement:before {
	content: '\e85a';
}
.icon.apps:before {
	content: '\e5c3';
}
.icon.archive:before {
	content: '\e149';
}
.icon.arrow-back:before {
	content: '\e5c4';
}
.icon.arrow-downward:before {
	content: '\e5db';
}
.icon.arrow-drop-down:before {
	content: '\e5c5';
}
.icon.arrow-drop-down-circle:before {
	content: '\e5c6';
}
.icon.arrow-drop-up:before {
	content: '\e5c7';
}
.icon.arrow-forward:before {
	content: '\e5c8';
}
.icon.arrow-upward:before {
	content: '\e5d8';
}
.icon.art-track:before {
	content: '\e060';
}
.icon.aspect-ratio:before {
	content: '\e85b';
}
.icon.assessment:before {
	content: '\e85c';
}
.icon.assignment:before {
	content: '\e85d';
}
.icon.assignment-ind:before {
	content: '\e85e';
}
.icon.assignment-late:before {
	content: '\e85f';
}
.icon.assignment-return:before {
	content: '\e860';
}
.icon.assignment-returned:before {
	content: '\e861';
}
.icon.assignment-turned-in:before {
	content: '\e862';
}
.icon.assistant:before {
	content: '\e39f';
}
.icon.assistant-photo:before {
	content: '\e3a0';
}
.icon.attach-file:before {
	content: '\e226';
}
.icon.attach-money:before {
	content: '\e227';
}
.icon.attachment:before {
	content: '\e2bc';
}
.icon.audiotrack:before {
	content: '\e3a1';
}
.icon.autorenew:before {
	content: '\e863';
}
.icon.av-timer:before {
	content: '\e01b';
}
.icon.backspace:before {
	content: '\e14a';
}
.icon.backup:before {
	content: '\e864';
}
.icon.battery-alert:before {
	content: '\e19c';
}
.icon.battery-charging-full:before {
	content: '\e1a3';
}
.icon.battery-full:before {
	content: '\e1a4';
}
.icon.battery-std:before {
	content: '\e1a5';
}
.icon.battery-unknown:before {
	content: '\e1a6';
}
.icon.beach-access:before {
	content: '\eb3e';
}
.icon.beenhere:before {
	content: '\e52d';
}
.icon.block:before {
	content: '\e14b';
}
.icon.bluetooth:before {
	content: '\e1a7';
}
.icon.bluetooth-audio:before {
	content: '\e60f';
}
.icon.bluetooth-connected:before {
	content: '\e1a8';
}
.icon.bluetooth-disabled:before {
	content: '\e1a9';
}
.icon.bluetooth-searching:before {
	content: '\e1aa';
}
.icon.blur-circular:before {
	content: '\e3a2';
}
.icon.blur-linear:before {
	content: '\e3a3';
}
.icon.blur-off:before {
	content: '\e3a4';
}
.icon.blur-on:before {
	content: '\e3a5';
}
.icon.book:before {
	content: '\e865';
}
.icon.bookmark:before {
	content: '\e866';
}
.icon.bookmark-border:before {
	content: '\e867';
}
.icon.border-all:before {
	content: '\e228';
}
.icon.border-bottom:before {
	content: '\e229';
}
.icon.border-clear:before {
	content: '\e22a';
}
.icon.border-color:before {
	content: '\e22b';
}
.icon.border-horizontal:before {
	content: '\e22c';
}
.icon.border-inner:before {
	content: '\e22d';
}
.icon.border-left:before {
	content: '\e22e';
}
.icon.border-outer:before {
	content: '\e22f';
}
.icon.border-right:before {
	content: '\e230';
}
.icon.border-style:before {
	content: '\e231';
}
.icon.border-top:before {
	content: '\e232';
}
.icon.border-vertical:before {
	content: '\e233';
}
.icon.branding-watermark:before {
	content: '\e06b';
}
.icon.brightness-1:before {
	content: '\e3a6';
}
.icon.brightness-2:before {
	content: '\e3a7';
}
.icon.brightness-3:before {
	content: '\e3a8';
}
.icon.brightness-4:before {
	content: '\e3a9';
}
.icon.brightness-5:before {
	content: '\e3aa';
}
.icon.brightness-6:before {
	content: '\e3ab';
}
.icon.brightness-7:before {
	content: '\e3ac';
}
.icon.brightness-auto:before {
	content: '\e1ab';
}
.icon.brightness-high:before {
	content: '\e1ac';
}
.icon.brightness-low:before {
	content: '\e1ad';
}
.icon.brightness-medium:before {
	content: '\e1ae';
}
.icon.broken-image:before {
	content: '\e3ad';
}
.icon.brush:before {
	content: '\e3ae';
}
.icon.bubble-chart:before {
	content: '\e6dd';
}
.icon.bug-report:before {
	content: '\e868';
}
.icon.build:before {
	content: '\e869';
}
.icon.burst-mode:before {
	content: '\e43c';
}
.icon.business:before {
	content: '\e0af';
}
.icon.business-center:before {
	content: '\eb3f';
}
.icon.cached:before {
	content: '\e86a';
}
.icon.cake:before {
	content: '\e7e9';
}
.icon.call:before {
	content: '\e0b0';
}
.icon.call-end:before {
	content: '\e0b1';
}
.icon.call-made:before {
	content: '\e0b2';
}
.icon.call-merge:before {
	content: '\e0b3';
}
.icon.call-missed:before {
	content: '\e0b4';
}
.icon.call-missed-outgoing:before {
	content: '\e0e4';
}
.icon.call-received:before {
	content: '\e0b5';
}
.icon.call-split:before {
	content: '\e0b6';
}
.icon.call-to-action:before {
	content: '\e06c';
}
.icon.camera:before {
	content: '\e3af';
}
.icon.camera-alt:before {
	content: '\e3b0';
}
.icon.camera-enhance:before {
	content: '\e8fc';
}
.icon.camera-front:before {
	content: '\e3b1';
}
.icon.camera-rear:before {
	content: '\e3b2';
}
.icon.camera-roll:before {
	content: '\e3b3';
}
.icon.cancel:before {
	content: '\e5c9';
}
.icon.card-giftcard:before {
	content: '\e8f6';
}
.icon.card-membership:before {
	content: '\e8f7';
}
.icon.card-travel:before {
	content: '\e8f8';
}
.icon.casino:before {
	content: '\eb40';
}
.icon.cast:before {
	content: '\e307';
}
.icon.cast-connected:before {
	content: '\e308';
}
.icon.center-focus-strong:before {
	content: '\e3b4';
}
.icon.center-focus-weak:before {
	content: '\e3b5';
}
.icon.change-history:before {
	content: '\e86b';
}
.icon.chat:before {
	content: '\e0b7';
}
.icon.chat-bubble:before {
	content: '\e0ca';
}
.icon.chat-bubble-outline:before {
	content: '\e0cb';
}
.icon.check:before {
	content: '\e5ca';
}
.icon.check-box:before {
	content: '\e834';
}
.icon.check-box-outline-blank:before {
	content: '\e835';
}
.icon.check-circle:before {
	content: '\e86c';
}
.icon.chevron-left:before {
	content: '\e5cb';
}
.icon.chevron-right:before {
	content: '\e5cc';
}
.icon.child-care:before {
	content: '\eb41';
}
.icon.child-friendly:before {
	content: '\eb42';
}
.icon.chrome-reader-mode:before {
	content: '\e86d';
}
.icon.class:before {
	content: '\e86e';
}
.icon.clear:before {
	content: '\e14c';
}
.icon.clear-all:before {
	content: '\e0b8';
}
.icon.close:before {
	content: '\e5cd';
}
.icon.closed-caption:before {
	content: '\e01c';
}
.icon.cloud:before {
	content: '\e2bd';
}
.icon.cloud-circle:before {
	content: '\e2be';
}
.icon.cloud-done:before {
	content: '\e2bf';
}
.icon.cloud-download:before {
	content: '\e2c0';
}
.icon.cloud-off:before {
	content: '\e2c1';
}
.icon.cloud-queue:before {
	content: '\e2c2';
}
.icon.cloud-upload:before {
	content: '\e2c3';
}
.icon.code:before {
	content: '\e86f';
}
.icon.collections:before {
	content: '\e3b6';
}
.icon.collections-bookmark:before {
	content: '\e431';
}
.icon.color-lens:before {
	content: '\e3b7';
}
.icon.colorize:before {
	content: '\e3b8';
}
.icon.comment:before {
	content: '\e0b9';
}
.icon.compare:before {
	content: '\e3b9';
}
.icon.compare-arrows:before {
	content: '\e915';
}
.icon.computer:before {
	content: '\e30a';
}
.icon.confirmation-number:before {
	content: '\e638';
}
.icon.contact-mail:before {
	content: '\e0d0';
}
.icon.contact-phone:before {
	content: '\e0cf';
}
.icon.contacts:before {
	content: '\e0ba';
}
.icon.content-copy:before {
	content: '\e14d';
}
.icon.content-cut:before {
	content: '\e14e';
}
.icon.content-paste:before {
	content: '\e14f';
}
.icon.control-point:before {
	content: '\e3ba';
}
.icon.control-point-duplicate:before {
	content: '\e3bb';
}
.icon.copyright:before {
	content: '\e90c';
}
.icon.create:before {
	content: '\e150';
}
.icon.create-new-folder:before {
	content: '\e2cc';
}
.icon.credit-card:before {
	content: '\e870';
}
.icon.crop:before {
	content: '\e3be';
}
.icon.crop-16-9:before {
	content: '\e3bc';
}
.icon.crop-3-2:before {
	content: '\e3bd';
}
.icon.crop-5-4:before {
	content: '\e3bf';
}
.icon.crop-7-5:before {
	content: '\e3c0';
}
.icon.crop-din:before {
	content: '\e3c1';
}
.icon.crop-free:before {
	content: '\e3c2';
}
.icon.crop-landscape:before {
	content: '\e3c3';
}
.icon.crop-original:before {
	content: '\e3c4';
}
.icon.crop-portrait:before {
	content: '\e3c5';
}
.icon.crop-rotate:before {
	content: '\e437';
}
.icon.crop-square:before {
	content: '\e3c6';
}
.icon.dashboard:before {
	content: '\e871';
}
.icon.data-usage:before {
	content: '\e1af';
}
.icon.date-range:before {
	content: '\e916';
}
.icon.dehaze:before {
	content: '\e3c7';
}
.icon.delete:before {
	content: '\e872';
}
.icon.delete-forever:before {
	content: '\e92b';
}
.icon.delete-sweep:before {
	content: '\e16c';
}
.icon.description:before {
	content: '\e873';
}
.icon.desktop-mac:before {
	content: '\e30b';
}
.icon.desktop-windows:before {
	content: '\e30c';
}
.icon.details:before {
	content: '\e3c8';
}
.icon.developer-board:before {
	content: '\e30d';
}
.icon.developer-mode:before {
	content: '\e1b0';
}
.icon.device-hub:before {
	content: '\e335';
}
.icon.devices:before {
	content: '\e1b1';
}
.icon.devices-other:before {
	content: '\e337';
}
.icon.dialer-sip:before {
	content: '\e0bb';
}
.icon.dialpad:before {
	content: '\e0bc';
}
.icon.directions:before {
	content: '\e52e';
}
.icon.directions-bike:before {
	content: '\e52f';
}
.icon.directions-boat:before {
	content: '\e532';
}
.icon.directions-bus:before {
	content: '\e530';
}
.icon.directions-car:before {
	content: '\e531';
}
.icon.directions-railway:before {
	content: '\e534';
}
.icon.directions-run:before {
	content: '\e566';
}
.icon.directions-subway:before {
	content: '\e533';
}
.icon.directions-transit:before {
	content: '\e535';
}
.icon.directions-walk:before {
	content: '\e536';
}
.icon.disc-full:before {
	content: '\e610';
}
.icon.dns:before {
	content: '\e875';
}
.icon.do-not-disturb:before {
	content: '\e612';
}
.icon.do-not-disturb-alt:before {
	content: '\e611';
}
.icon.do-not-disturb-off:before {
	content: '\e643';
}
.icon.do-not-disturb-on:before {
	content: '\e644';
}
.icon.dock:before {
	content: '\e30e';
}
.icon.domain:before {
	content: '\e7ee';
}
.icon.done:before {
	content: '\e876';
}
.icon.done-all:before {
	content: '\e877';
}
.icon.donut-large:before {
	content: '\e917';
}
.icon.donut-small:before {
	content: '\e918';
}
.icon.drafts:before {
	content: '\e151';
}
.icon.drag-handle:before {
	content: '\e25d';
}
.icon.drive-eta:before {
	content: '\e613';
}
.icon.dvr:before {
	content: '\e1b2';
}
.icon.edit:before {
	content: '\e3c9';
}
.icon.edit-location:before {
	content: '\e568';
}
.icon.eject:before {
	content: '\e8fb';
}
.icon.email:before {
	content: '\e0be';
}
.icon.enhanced-encryption:before {
	content: '\e63f';
}
.icon.equalizer:before {
	content: '\e01d';
}
.icon.error:before {
	content: '\e000';
}
.icon.error-outline:before {
	content: '\e001';
}
.icon.euro-symbol:before {
	content: '\e926';
}
.icon.ev-station:before {
	content: '\e56d';
}
.icon.event:before {
	content: '\e878';
}
.icon.event-available:before {
	content: '\e614';
}
.icon.event-busy:before {
	content: '\e615';
}
.icon.event-note:before {
	content: '\e616';
}
.icon.event-seat:before {
	content: '\e903';
}
.icon.exit-to-app:before {
	content: '\e879';
}
.icon.expand-less:before {
	content: '\e5ce';
}
.icon.expand-more:before {
	content: '\e5cf';
}
.icon.explicit:before {
	content: '\e01e';
}
.icon.explore:before {
	content: '\e87a';
}
.icon.exposure:before {
	content: '\e3ca';
}
.icon.exposure-neg-1:before {
	content: '\e3cb';
}
.icon.exposure-neg-2:before {
	content: '\e3cc';
}
.icon.exposure-plus-1:before {
	content: '\e3cd';
}
.icon.exposure-plus-2:before {
	content: '\e3ce';
}
.icon.exposure-zero:before {
	content: '\e3cf';
}
.icon.extension:before {
	content: '\e87b';
}
.icon.face:before {
	content: '\e87c';
}
.icon.fast-forward:before {
	content: '\e01f';
}
.icon.fast-rewind:before {
	content: '\e020';
}
.icon.favorite:before {
	content: '\e87d';
}
.icon.favorite-border:before {
	content: '\e87e';
}
.icon.featured-play-list:before {
	content: '\e06d';
}
.icon.featured-video:before {
	content: '\e06e';
}
.icon.feedback:before {
	content: '\e87f';
}
.icon.fiber-dvr:before {
	content: '\e05d';
}
.icon.fiber-manual-record:before {
	content: '\e061';
}
.icon.fiber-new:before {
	content: '\e05e';
}
.icon.fiber-pin:before {
	content: '\e06a';
}
.icon.fiber-smart-record:before {
	content: '\e062';
}
.icon.file-download:before {
	content: '\e2c4';
}
.icon.file-upload:before {
	content: '\e2c6';
}
.icon.filter:before {
	content: '\e3d3';
}
.icon.filter-1:before {
	content: '\e3d0';
}
.icon.filter-2:before {
	content: '\e3d1';
}
.icon.filter-3:before {
	content: '\e3d2';
}
.icon.filter-4:before {
	content: '\e3d4';
}
.icon.filter-5:before {
	content: '\e3d5';
}
.icon.filter-6:before {
	content: '\e3d6';
}
.icon.filter-7:before {
	content: '\e3d7';
}
.icon.filter-8:before {
	content: '\e3d8';
}
.icon.filter-9:before {
	content: '\e3d9';
}
.icon.filter-9-plus:before {
	content: '\e3da';
}
.icon.filter-b-and-w:before {
	content: '\e3db';
}
.icon.filter-center-focus:before {
	content: '\e3dc';
}
.icon.filter-drama:before {
	content: '\e3dd';
}
.icon.filter-frames:before {
	content: '\e3de';
}
.icon.filter-hdr:before {
	content: '\e3df';
}
.icon.filter-list:before {
	content: '\e152';
}
.icon.filter-none:before {
	content: '\e3e0';
}
.icon.filter-tilt-shift:before {
	content: '\e3e2';
}
.icon.filter-vintage:before {
	content: '\e3e3';
}
.icon.find-in-page:before {
	content: '\e880';
}
.icon.find-replace:before {
	content: '\e881';
}
.icon.fingerprint:before {
	content: '\e90d';
}
.icon.first-page:before {
	content: '\e5dc';
}
.icon.fitness-center:before {
	content: '\eb43';
}
.icon.flag:before {
	content: '\e153';
}
.icon.flare:before {
	content: '\e3e4';
}
.icon.flash-auto:before {
	content: '\e3e5';
}
.icon.flash-off:before {
	content: '\e3e6';
}
.icon.flash-on:before {
	content: '\e3e7';
}
.icon.flight:before {
	content: '\e539';
}
.icon.flight-land:before {
	content: '\e904';
}
.icon.flight-takeoff:before {
	content: '\e905';
}
.icon.flip:before {
	content: '\e3e8';
}
.icon.flip-to-back:before {
	content: '\e882';
}
.icon.flip-to-front:before {
	content: '\e883';
}
.icon.folder:before {
	content: '\e2c7';
}
.icon.folder-open:before {
	content: '\e2c8';
}
.icon.folder-shared:before {
	content: '\e2c9';
}
.icon.folder-special:before {
	content: '\e617';
}
.icon.font-download:before {
	content: '\e167';
}
.icon.format-align-center:before {
	content: '\e234';
}
.icon.format-align-justify:before {
	content: '\e235';
}
.icon.format-align-left:before {
	content: '\e236';
}
.icon.format-align-right:before {
	content: '\e237';
}
.icon.format-bold:before {
	content: '\e238';
}
.icon.format-clear:before {
	content: '\e239';
}
.icon.format-color-fill:before {
	content: '\e23a';
}
.icon.format-color-reset:before {
	content: '\e23b';
}
.icon.format-color-text:before {
	content: '\e23c';
}
.icon.format-indent-decrease:before {
	content: '\e23d';
}
.icon.format-indent-increase:before {
	content: '\e23e';
}
.icon.format-italic:before {
	content: '\e23f';
}
.icon.format-line-spacing:before {
	content: '\e240';
}
.icon.format-list-bulleted:before {
	content: '\e241';
}
.icon.format-list-numbered:before {
	content: '\e242';
}
.icon.format-paint:before {
	content: '\e243';
}
.icon.format-quote:before {
	content: '\e244';
}
.icon.format-shapes:before {
	content: '\e25e';
}
.icon.format-size:before {
	content: '\e245';
}
.icon.format-strikethrough:before {
	content: '\e246';
}
.icon.format-textdirection-l-to-r:before {
	content: '\e247';
}
.icon.format-textdirection-r-to-l:before {
	content: '\e248';
}
.icon.format-underlined:before {
	content: '\e249';
}
.icon.forum:before {
	content: '\e0bf';
}
.icon.forward:before {
	content: '\e154';
}
.icon.forward-10:before {
	content: '\e056';
}
.icon.forward-30:before {
	content: '\e057';
}
.icon.forward-5:before {
	content: '\e058';
}
.icon.free-breakfast:before {
	content: '\eb44';
}
.icon.fullscreen:before {
	content: '\e5d0';
}
.icon.fullscreen-exit:before {
	content: '\e5d1';
}
.icon.functions:before {
	content: '\e24a';
}
.icon.g-translate:before {
	content: '\e927';
}
.icon.gamepad:before {
	content: '\e30f';
}
.icon.games:before {
	content: '\e021';
}
.icon.gavel:before {
	content: '\e90e';
}
.icon.gesture:before {
	content: '\e155';
}
.icon.get-app:before {
	content: '\e884';
}
.icon.gif:before {
	content: '\e908';
}
.icon.golf-course:before {
	content: '\eb45';
}
.icon.gps-fixed:before {
	content: '\e1b3';
}
.icon.gps-not-fixed:before {
	content: '\e1b4';
}
.icon.gps-off:before {
	content: '\e1b5';
}
.icon.grade:before {
	content: '\e885';
}
.icon.gradient:before {
	content: '\e3e9';
}
.icon.grain:before {
	content: '\e3ea';
}
.icon.graphic-eq:before {
	content: '\e1b8';
}
.icon.grid-off:before {
	content: '\e3eb';
}
.icon.grid-on:before {
	content: '\e3ec';
}
.icon.group:before {
	content: '\e7ef';
}
.icon.group-add:before {
	content: '\e7f0';
}
.icon.group-work:before {
	content: '\e886';
}
.icon.hd:before {
	content: '\e052';
}
.icon.hdr-off:before {
	content: '\e3ed';
}
.icon.hdr-on:before {
	content: '\e3ee';
}
.icon.hdr-strong:before {
	content: '\e3f1';
}
.icon.hdr-weak:before {
	content: '\e3f2';
}
.icon.headset:before {
	content: '\e310';
}
.icon.headset-mic:before {
	content: '\e311';
}
.icon.healing:before {
	content: '\e3f3';
}
.icon.hearing:before {
	content: '\e023';
}
.icon.help:before {
	content: '\e887';
}
.icon.help-outline:before {
	content: '\e8fd';
}
.icon.high-quality:before {
	content: '\e024';
}
.icon.highlight:before {
	content: '\e25f';
}
.icon.highlight-off:before {
	content: '\e888';
}
.icon.history:before {
	content: '\e889';
}
.icon.home:before {
	content: '\e88a';
}
.icon.hot-tub:before {
	content: '\eb46';
}
.icon.hotel:before {
	content: '\e53a';
}
.icon.hourglass-empty:before {
	content: '\e88b';
}
.icon.hourglass-full:before {
	content: '\e88c';
}
.icon.http:before {
	content: '\e902';
}
.icon.https:before {
	content: '\e88d';
}
.icon.image:before {
	content: '\e3f4';
}
.icon.image-aspect-ratio:before {
	content: '\e3f5';
}
.icon.import-contacts:before {
	content: '\e0e0';
}
.icon.import-export:before {
	content: '\e0c3';
}
.icon.important-devices:before {
	content: '\e912';
}
.icon.inbox:before {
	content: '\e156';
}
.icon.indeterminate-check-box:before {
	content: '\e909';
}
.icon.info:before {
	content: '\e88e';
}
.icon.info-outline:before {
	content: '\e88f';
}
.icon.input:before {
	content: '\e890';
}
.icon.insert-chart:before {
	content: '\e24b';
}
.icon.insert-comment:before {
	content: '\e24c';
}
.icon.insert-drive-file:before {
	content: '\e24d';
}
.icon.insert-emoticon:before {
	content: '\e24e';
}
.icon.insert-invitation:before {
	content: '\e24f';
}
.icon.insert-link:before {
	content: '\e250';
}
.icon.insert-photo:before {
	content: '\e251';
}
.icon.invert-colors:before {
	content: '\e891';
}
.icon.invert-colors-off:before {
	content: '\e0c4';
}
.icon.iso:before {
	content: '\e3f6';
}
.icon.keyboard:before {
	content: '\e312';
}
.icon.keyboard-arrow-down:before {
	content: '\e313';
}
.icon.keyboard-arrow-left:before {
	content: '\e314';
}
.icon.keyboard-arrow-right:before {
	content: '\e315';
}
.icon.keyboard-arrow-up:before {
	content: '\e316';
}
.icon.keyboard-backspace:before {
	content: '\e317';
}
.icon.keyboard-capslock:before {
	content: '\e318';
}
.icon.keyboard-hide:before {
	content: '\e31a';
}
.icon.keyboard-return:before {
	content: '\e31b';
}
.icon.keyboard-tab:before {
	content: '\e31c';
}
.icon.keyboard-voice:before {
	content: '\e31d';
}
.icon.kitchen:before {
	content: '\eb47';
}
.icon.label:before {
	content: '\e892';
}
.icon.label-outline:before {
	content: '\e893';
}
.icon.landscape:before {
	content: '\e3f7';
}
.icon.language:before {
	content: '\e894';
}
.icon.laptop:before {
	content: '\e31e';
}
.icon.laptop-chromebook:before {
	content: '\e31f';
}
.icon.laptop-mac:before {
	content: '\e320';
}
.icon.laptop-windows:before {
	content: '\e321';
}
.icon.last-page:before {
	content: '\e5dd';
}
.icon.launch:before {
	content: '\e895';
}
.icon.layers:before {
	content: '\e53b';
}
.icon.layers-clear:before {
	content: '\e53c';
}
.icon.leak-add:before {
	content: '\e3f8';
}
.icon.leak-remove:before {
	content: '\e3f9';
}
.icon.lens:before {
	content: '\e3fa';
}
.icon.library-add:before {
	content: '\e02e';
}
.icon.library-books:before {
	content: '\e02f';
}
.icon.library-music:before {
	content: '\e030';
}
.icon.lightbulb-outline:before {
	content: '\e90f';
}
.icon.line-style:before {
	content: '\e919';
}
.icon.line-weight:before {
	content: '\e91a';
}
.icon.linear-scale:before {
	content: '\e260';
}
.icon.link:before {
	content: '\e157';
}
.icon.linked-camera:before {
	content: '\e438';
}
.icon.list:before {
	content: '\e896';
}
.icon.live-help:before {
	content: '\e0c6';
}
.icon.live-tv:before {
	content: '\e639';
}
.icon.local-activity:before {
	content: '\e53f';
}
.icon.local-airport:before {
	content: '\e53d';
}
.icon.local-atm:before {
	content: '\e53e';
}
.icon.local-bar:before {
	content: '\e540';
}
.icon.local-cafe:before {
	content: '\e541';
}
.icon.local-car-wash:before {
	content: '\e542';
}
.icon.local-convenience-store:before {
	content: '\e543';
}
.icon.local-dining:before {
	content: '\e556';
}
.icon.local-drink:before {
	content: '\e544';
}
.icon.local-florist:before {
	content: '\e545';
}
.icon.local-gas-station:before {
	content: '\e546';
}
.icon.local-grocery-store:before {
	content: '\e547';
}
.icon.local-hospital:before {
	content: '\e548';
}
.icon.local-hotel:before {
	content: '\e549';
}
.icon.local-laundry-service:before {
	content: '\e54a';
}
.icon.local-library:before {
	content: '\e54b';
}
.icon.local-mall:before {
	content: '\e54c';
}
.icon.local-movies:before {
	content: '\e54d';
}
.icon.local-offer:before {
	content: '\e54e';
}
.icon.local-parking:before {
	content: '\e54f';
}
.icon.local-pharmacy:before {
	content: '\e550';
}
.icon.local-phone:before {
	content: '\e551';
}
.icon.local-pizza:before {
	content: '\e552';
}
.icon.local-play:before {
	content: '\e553';
}
.icon.local-post-office:before {
	content: '\e554';
}
.icon.local-printshop:before {
	content: '\e555';
}
.icon.local-see:before {
	content: '\e557';
}
.icon.local-shipping:before {
	content: '\e558';
}
.icon.local-taxi:before {
	content: '\e559';
}
.icon.location-city:before {
	content: '\e7f1';
}
.icon.location-disabled:before {
	content: '\e1b6';
}
.icon.location-off:before {
	content: '\e0c7';
}
.icon.location-on:before {
	content: '\e0c8';
}
.icon.location-searching:before {
	content: '\e1b7';
}
.icon.lock:before {
	content: '\e897';
}
.icon.lock-open:before {
	content: '\e898';
}
.icon.lock-outline:before {
	content: '\e899';
}
.icon.looks:before {
	content: '\e3fc';
}
.icon.looks-3:before {
	content: '\e3fb';
}
.icon.looks-4:before {
	content: '\e3fd';
}
.icon.looks-5:before {
	content: '\e3fe';
}
.icon.looks-6:before {
	content: '\e3ff';
}
.icon.looks-one:before {
	content: '\e400';
}
.icon.looks-two:before {
	content: '\e401';
}
.icon.loop:before {
	content: '\e028';
}
.icon.loupe:before {
	content: '\e402';
}
.icon.low-priority:before {
	content: '\e16d';
}
.icon.loyalty:before {
	content: '\e89a';
}
.icon.mail:before {
	content: '\e158';
}
.icon.mail-outline:before {
	content: '\e0e1';
}
.icon.map:before {
	content: '\e55b';
}
.icon.markunread:before {
	content: '\e159';
}
.icon.markunread-mailbox:before {
	content: '\e89b';
}
.icon.memory:before {
	content: '\e322';
}
.icon.menu:before {
	content: '\e5d2';
}
.icon.merge-type:before {
	content: '\e252';
}
.icon.message:before {
	content: '\e0c9';
}
.icon.mic:before {
	content: '\e029';
}
.icon.mic-none:before {
	content: '\e02a';
}
.icon.mic-off:before {
	content: '\e02b';
}
.icon.mms:before {
	content: '\e618';
}
.icon.mode-comment:before {
	content: '\e253';
}
.icon.mode-edit:before {
	content: '\e254';
}
.icon.monetization-on:before {
	content: '\e263';
}
.icon.money-off:before {
	content: '\e25c';
}
.icon.monochrome-photos:before {
	content: '\e403';
}
.icon.mood:before {
	content: '\e7f2';
}
.icon.mood-bad:before {
	content: '\e7f3';
}
.icon.more:before {
	content: '\e619';
}
.icon.more-horiz:before {
	content: '\e5d3';
}
.icon.more-vert:before {
	content: '\e5d4';
}
.icon.motorcycle:before {
	content: '\e91b';
}
.icon.mouse:before {
	content: '\e323';
}
.icon.move-to-inbox:before {
	content: '\e168';
}
.icon.movie:before {
	content: '\e02c';
}
.icon.movie-creation:before {
	content: '\e404';
}
.icon.movie-filter:before {
	content: '\e43a';
}
.icon.multiline-chart:before {
	content: '\e6df';
}
.icon.music-note:before {
	content: '\e405';
}
.icon.music-video:before {
	content: '\e063';
}
.icon.my-location:before {
	content: '\e55c';
}
.icon.nature:before {
	content: '\e406';
}
.icon.nature-people:before {
	content: '\e407';
}
.icon.navigate-before:before {
	content: '\e408';
}
.icon.navigate-next:before {
	content: '\e409';
}
.icon.navigation:before {
	content: '\e55d';
}
.icon.near-me:before {
	content: '\e569';
}
.icon.network-cell:before {
	content: '\e1b9';
}
.icon.network-check:before {
	content: '\e640';
}
.icon.network-locked:before {
	content: '\e61a';
}
.icon.network-wifi:before {
	content: '\e1ba';
}
.icon.new-releases:before {
	content: '\e031';
}
.icon.next-week:before {
	content: '\e16a';
}
.icon.nfc:before {
	content: '\e1bb';
}
.icon.no-encryption:before {
	content: '\e641';
}
.icon.no-sim:before {
	content: '\e0cc';
}
.icon.not-interested:before {
	content: '\e033';
}
.icon.note:before {
	content: '\e06f';
}
.icon.note-add:before {
	content: '\e89c';
}
.icon.notifications:before {
	content: '\e7f4';
}
.icon.notifications-active:before {
	content: '\e7f7';
}
.icon.notifications-none:before {
	content: '\e7f5';
}
.icon.notifications-off:before {
	content: '\e7f6';
}
.icon.notifications-paused:before {
	content: '\e7f8';
}
.icon.offline-pin:before {
	content: '\e90a';
}
.icon.ondemand-video:before {
	content: '\e63a';
}
.icon.opacity:before {
	content: '\e91c';
}
.icon.open-in-browser:before {
	content: '\e89d';
}
.icon.open-in-new:before {
	content: '\e89e';
}
.icon.open-with:before {
	content: '\e89f';
}
.icon.pages:before {
	content: '\e7f9';
}
.icon.pageview:before {
	content: '\e8a0';
}
.icon.palette:before {
	content: '\e40a';
}
.icon.pan-tool:before {
	content: '\e925';
}
.icon.panorama:before {
	content: '\e40b';
}
.icon.panorama-fish-eye:before {
	content: '\e40c';
}
.icon.panorama-horizontal:before {
	content: '\e40d';
}
.icon.panorama-vertical:before {
	content: '\e40e';
}
.icon.panorama-wide-angle:before {
	content: '\e40f';
}
.icon.party-mode:before {
	content: '\e7fa';
}
.icon.pause:before {
	content: '\e034';
}
.icon.pause-circle-filled:before {
	content: '\e035';
}
.icon.pause-circle-outline:before {
	content: '\e036';
}
.icon.payment:before {
	content: '\e8a1';
}
.icon.people:before {
	content: '\e7fb';
}
.icon.people-outline:before {
	content: '\e7fc';
}
.icon.perm-camera-mic:before {
	content: '\e8a2';
}
.icon.perm-contact-calendar:before {
	content: '\e8a3';
}
.icon.perm-data-setting:before {
	content: '\e8a4';
}
.icon.perm-device-information:before {
	content: '\e8a5';
}
.icon.perm-identity:before {
	content: '\e8a6';
}
.icon.perm-media:before {
	content: '\e8a7';
}
.icon.perm-phone-msg:before {
	content: '\e8a8';
}
.icon.perm-scan-wifi:before {
	content: '\e8a9';
}
.icon.person:before {
	content: '\e7fd';
}
.icon.person-add:before {
	content: '\e7fe';
}
.icon.person-outline:before {
	content: '\e7ff';
}
.icon.person-pin:before {
	content: '\e55a';
}
.icon.person-pin-circle:before {
	content: '\e56a';
}
.icon.personal-video:before {
	content: '\e63b';
}
.icon.pets:before {
	content: '\e91d';
}
.icon.phone:before {
	content: '\e0cd';
}
.icon.phone-android:before {
	content: '\e324';
}
.icon.phone-bluetooth-speaker:before {
	content: '\e61b';
}
.icon.phone-forwarded:before {
	content: '\e61c';
}
.icon.phone-in-talk:before {
	content: '\e61d';
}
.icon.phone-iphone:before {
	content: '\e325';
}
.icon.phone-locked:before {
	content: '\e61e';
}
.icon.phone-missed:before {
	content: '\e61f';
}
.icon.phone-paused:before {
	content: '\e620';
}
.icon.phonelink:before {
	content: '\e326';
}
.icon.phonelink-erase:before {
	content: '\e0db';
}
.icon.phonelink-lock:before {
	content: '\e0dc';
}
.icon.phonelink-off:before {
	content: '\e327';
}
.icon.phonelink-ring:before {
	content: '\e0dd';
}
.icon.phonelink-setup:before {
	content: '\e0de';
}
.icon.photo:before {
	content: '\e410';
}
.icon.photo-album:before {
	content: '\e411';
}
.icon.photo-camera:before {
	content: '\e412';
}
.icon.photo-filter:before {
	content: '\e43b';
}
.icon.photo-library:before {
	content: '\e413';
}
.icon.photo-size-select-actual:before {
	content: '\e432';
}
.icon.photo-size-select-large:before {
	content: '\e433';
}
.icon.photo-size-select-small:before {
	content: '\e434';
}
.icon.picture-as-pdf:before {
	content: '\e415';
}
.icon.picture-in-picture:before {
	content: '\e8aa';
}
.icon.picture-in-picture-alt:before {
	content: '\e911';
}
.icon.pie-chart:before {
	content: '\e6c4';
}
.icon.pie-chart-outlined:before {
	content: '\e6c5';
}
.icon.pin-drop:before {
	content: '\e55e';
}
.icon.place:before {
	content: '\e55f';
}
.icon.play-arrow:before {
	content: '\e037';
}
.icon.play-circle-filled:before {
	content: '\e038';
}
.icon.play-circle-outline:before {
	content: '\e039';
}
.icon.play-for-work:before {
	content: '\e906';
}
.icon.playlist-add:before {
	content: '\e03b';
}
.icon.playlist-add-check:before {
	content: '\e065';
}
.icon.playlist-play:before {
	content: '\e05f';
}
.icon.plus-one:before {
	content: '\e800';
}
.icon.poll:before {
	content: '\e801';
}
.icon.polymer:before {
	content: '\e8ab';
}
.icon.pool:before {
	content: '\eb48';
}
.icon.portable-wifi-off:before {
	content: '\e0ce';
}
.icon.portrait:before {
	content: '\e416';
}
.icon.power:before {
	content: '\e63c';
}
.icon.power-input:before {
	content: '\e336';
}
.icon.power-settings-new:before {
	content: '\e8ac';
}
.icon.pregnant-woman:before {
	content: '\e91e';
}
.icon.present-to-all:before {
	content: '\e0df';
}
.icon.print:before {
	content: '\e8ad';
}
.icon.priority-high:before {
	content: '\e645';
}
.icon.public:before {
	content: '\e80b';
}
.icon.publish:before {
	content: '\e255';
}
.icon.query-builder:before {
	content: '\e8ae';
}
.icon.question-answer:before {
	content: '\e8af';
}
.icon.queue:before {
	content: '\e03c';
}
.icon.queue-music:before {
	content: '\e03d';
}
.icon.queue-play-next:before {
	content: '\e066';
}
.icon.radio:before {
	content: '\e03e';
}
.icon.radio-button-checked:before {
	content: '\e837';
}
.icon.radio-button-unchecked:before {
	content: '\e836';
}
.icon.rate-review:before {
	content: '\e560';
}
.icon.receipt:before {
	content: '\e8b0';
}
.icon.recent-actors:before {
	content: '\e03f';
}
.icon.record-voice-over:before {
	content: '\e91f';
}
.icon.redeem:before {
	content: '\e8b1';
}
.icon.redo:before {
	content: '\e15a';
}
.icon.refresh:before {
	content: '\e5d5';
}
.icon.remove:before {
	content: '\e15b';
}
.icon.remove-circle:before {
	content: '\e15c';
}
.icon.remove-circle-outline:before {
	content: '\e15d';
}
.icon.remove-from-queue:before {
	content: '\e067';
}
.icon.remove-red-eye:before {
	content: '\e417';
}
.icon.remove-shopping-cart:before {
	content: '\e928';
}
.icon.reorder:before {
	content: '\e8fe';
}
.icon.repeat:before {
	content: '\e040';
}
.icon.repeat-one:before {
	content: '\e041';
}
.icon.replay:before {
	content: '\e042';
}
.icon.replay-10:before {
	content: '\e059';
}
.icon.replay-30:before {
	content: '\e05a';
}
.icon.replay-5:before {
	content: '\e05b';
}
.icon.reply:before {
	content: '\e15e';
}
.icon.reply-all:before {
	content: '\e15f';
}
.icon.report:before {
	content: '\e160';
}
.icon.report-problem:before {
	content: '\e8b2';
}
.icon.restaurant:before {
	content: '\e56c';
}
.icon.restaurant-menu:before {
	content: '\e561';
}
.icon.restore:before {
	content: '\e8b3';
}
.icon.restore-page:before {
	content: '\e929';
}
.icon.ring-volume:before {
	content: '\e0d1';
}
.icon.room:before {
	content: '\e8b4';
}
.icon.room-service:before {
	content: '\eb49';
}
.icon.rotate-90-degrees-ccw:before {
	content: '\e418';
}
.icon.rotate-left:before {
	content: '\e419';
}
.icon.rotate-right:before {
	content: '\e41a';
}
.icon.rounded-corner:before {
	content: '\e920';
}
.icon.router:before {
	content: '\e328';
}
.icon.rowing:before {
	content: '\e921';
}
.icon.rss-feed:before {
	content: '\e0e5';
}
.icon.rv-hookup:before {
	content: '\e642';
}
.icon.satellite:before {
	content: '\e562';
}
.icon.save:before {
	content: '\e161';
}
.icon.scanner:before {
	content: '\e329';
}
.icon.schedule:before {
	content: '\e8b5';
}
.icon.school:before {
	content: '\e80c';
}
.icon.screen-lock-landscape:before {
	content: '\e1be';
}
.icon.screen-lock-portrait:before {
	content: '\e1bf';
}
.icon.screen-lock-rotation:before {
	content: '\e1c0';
}
.icon.screen-rotation:before {
	content: '\e1c1';
}
.icon.screen-share:before {
	content: '\e0e2';
}
.icon.sd-card:before {
	content: '\e623';
}
.icon.sd-storage:before {
	content: '\e1c2';
}
.icon.search:before {
	content: '\e8b6';
}
.icon.security:before {
	content: '\e32a';
}
.icon.select-all:before {
	content: '\e162';
}
.icon.send:before {
	content: '\e163';
}
.icon.sentiment-dissatisfied:before {
	content: '\e811';
}
.icon.sentiment-neutral:before {
	content: '\e812';
}
.icon.sentiment-satisfied:before {
	content: '\e813';
}
.icon.sentiment-very-dissatisfied:before {
	content: '\e814';
}
.icon.sentiment-very-satisfied:before {
	content: '\e815';
}
.icon.settings:before {
	content: '\e8b8';
}
.icon.settings-applications:before {
	content: '\e8b9';
}
.icon.settings-backup-restore:before {
	content: '\e8ba';
}
.icon.settings-bluetooth:before {
	content: '\e8bb';
}
.icon.settings-brightness:before {
	content: '\e8bd';
}
.icon.settings-cell:before {
	content: '\e8bc';
}
.icon.settings-ethernet:before {
	content: '\e8be';
}
.icon.settings-input-antenna:before {
	content: '\e8bf';
}
.icon.settings-input-component:before {
	content: '\e8c0';
}
.icon.settings-input-composite:before {
	content: '\e8c1';
}
.icon.settings-input-hdmi:before {
	content: '\e8c2';
}
.icon.settings-input-svideo:before {
	content: '\e8c3';
}
.icon.settings-overscan:before {
	content: '\e8c4';
}
.icon.settings-phone:before {
	content: '\e8c5';
}
.icon.settings-power:before {
	content: '\e8c6';
}
.icon.settings-remote:before {
	content: '\e8c7';
}
.icon.settings-system-daydream:before {
	content: '\e1c3';
}
.icon.settings-voice:before {
	content: '\e8c8';
}
.icon.share:before {
	content: '\e80d';
}
.icon.shop:before {
	content: '\e8c9';
}
.icon.shop-two:before {
	content: '\e8ca';
}
.icon.shopping-basket:before {
	content: '\e8cb';
}
.icon.shopping-cart:before {
	content: '\e8cc';
}
.icon.short-text:before {
	content: '\e261';
}
.icon.show-chart:before {
	content: '\e6e1';
}
.icon.shuffle:before {
	content: '\e043';
}
.icon.signal-cellular-4-bar:before {
	content: '\e1c8';
}
.icon.signal-cellular-connected-no-internet-4-bar:before {
	content: '\e1cd';
}
.icon.signal-cellular-no-sim:before {
	content: '\e1ce';
}
.icon.signal-cellular-null:before {
	content: '\e1cf';
}
.icon.signal-cellular-off:before {
	content: '\e1d0';
}
.icon.signal-wifi-4-bar:before {
	content: '\e1d8';
}
.icon.signal-wifi-4-bar-lock:before {
	content: '\e1d9';
}
.icon.signal-wifi-off:before {
	content: '\e1da';
}
.icon.sim-card:before {
	content: '\e32b';
}
.icon.sim-card-alert:before {
	content: '\e624';
}
.icon.skip-next:before {
	content: '\e044';
}
.icon.skip-previous:before {
	content: '\e045';
}
.icon.slideshow:before {
	content: '\e41b';
}
.icon.slow-motion-video:before {
	content: '\e068';
}
.icon.smartphone:before {
	content: '\e32c';
}
.icon.smoke-free:before {
	content: '\eb4a';
}
.icon.smoking-rooms:before {
	content: '\eb4b';
}
.icon.sms:before {
	content: '\e625';
}
.icon.sms-failed:before {
	content: '\e626';
}
.icon.snooze:before {
	content: '\e046';
}
.icon.sort:before {
	content: '\e164';
}
.icon.sort-by-alpha:before {
	content: '\e053';
}
.icon.spa:before {
	content: '\eb4c';
}
.icon.space-bar:before {
	content: '\e256';
}
.icon.speaker:before {
	content: '\e32d';
}
.icon.speaker-group:before {
	content: '\e32e';
}
.icon.speaker-notes:before {
	content: '\e8cd';
}
.icon.speaker-notes-off:before {
	content: '\e92a';
}
.icon.speaker-phone:before {
	content: '\e0d2';
}
.icon.spellcheck:before {
	content: '\e8ce';
}
.icon.star:before {
	content: '\e838';
}
.icon.star-border:before {
	content: '\e83a';
}
.icon.star-half:before {
	content: '\e839';
}
.icon.stars:before {
	content: '\e8d0';
}
.icon.stay-current-landscape:before {
	content: '\e0d3';
}
.icon.stay-current-portrait:before {
	content: '\e0d4';
}
.icon.stay-primary-landscape:before {
	content: '\e0d5';
}
.icon.stay-primary-portrait:before {
	content: '\e0d6';
}
.icon.stop:before {
	content: '\e047';
}
.icon.stop-screen-share:before {
	content: '\e0e3';
}
.icon.storage:before {
	content: '\e1db';
}
.icon.store:before {
	content: '\e8d1';
}
.icon.store-mall-directory:before {
	content: '\e563';
}
.icon.straighten:before {
	content: '\e41c';
}
.icon.streetview:before {
	content: '\e56e';
}
.icon.strikethrough-s:before {
	content: '\e257';
}
.icon.style:before {
	content: '\e41d';
}
.icon.subdirectory-arrow-left:before {
	content: '\e5d9';
}
.icon.subdirectory-arrow-right:before {
	content: '\e5da';
}
.icon.subject:before {
	content: '\e8d2';
}
.icon.subscriptions:before {
	content: '\e064';
}
.icon.subtitles:before {
	content: '\e048';
}
.icon.subway:before {
	content: '\e56f';
}
.icon.supervisor-account:before {
	content: '\e8d3';
}
.icon.surround-sound:before {
	content: '\e049';
}
.icon.swap-calls:before {
	content: '\e0d7';
}
.icon.swap-horiz:before {
	content: '\e8d4';
}
.icon.swap-vert:before {
	content: '\e8d5';
}
.icon.swap-vertical-circle:before {
	content: '\e8d6';
}
.icon.switch-camera:before {
	content: '\e41e';
}
.icon.switch-video:before {
	content: '\e41f';
}
.icon.sync:before {
	content: '\e627';
}
.icon.sync-disabled:before {
	content: '\e628';
}
.icon.sync-problem:before {
	content: '\e629';
}
.icon.system-update:before {
	content: '\e62a';
}
.icon.system-update-alt:before {
	content: '\e8d7';
}
.icon.tab:before {
	content: '\e8d8';
}
.icon.tab-unselected:before {
	content: '\e8d9';
}
.icon.tablet:before {
	content: '\e32f';
}
.icon.tablet-android:before {
	content: '\e330';
}
.icon.tablet-mac:before {
	content: '\e331';
}
.icon.tag-faces:before {
	content: '\e420';
}
.icon.tap-and-play:before {
	content: '\e62b';
}
.icon.terrain:before {
	content: '\e564';
}
.icon.text-fields:before {
	content: '\e262';
}
.icon.text-format:before {
	content: '\e165';
}
.icon.textsms:before {
	content: '\e0d8';
}
.icon.texture:before {
	content: '\e421';
}
.icon.theaters:before {
	content: '\e8da';
}
.icon.thumb-down:before {
	content: '\e8db';
}
.icon.thumb-up:before {
	content: '\e8dc';
}
.icon.thumbs-up-down:before {
	content: '\e8dd';
}
.icon.time-to-leave:before {
	content: '\e62c';
}
.icon.timelapse:before {
	content: '\e422';
}
.icon.timeline:before {
	content: '\e922';
}
.icon.timer:before {
	content: '\e425';
}
.icon.timer-10:before {
	content: '\e423';
}
.icon.timer-3:before {
	content: '\e424';
}
.icon.timer-off:before {
	content: '\e426';
}
.icon.title:before {
	content: '\e264';
}
.icon.toc:before {
	content: '\e8de';
}
.icon.today:before {
	content: '\e8df';
}
.icon.toll:before {
	content: '\e8e0';
}
.icon.tonality:before {
	content: '\e427';
}
.icon.touch-app:before {
	content: '\e913';
}
.icon.toys:before {
	content: '\e332';
}
.icon.track-changes:before {
	content: '\e8e1';
}
.icon.traffic:before {
	content: '\e565';
}
.icon.train:before {
	content: '\e570';
}
.icon.tram:before {
	content: '\e571';
}
.icon.transfer-within-a-station:before {
	content: '\e572';
}
.icon.transform:before {
	content: '\e428';
}
.icon.translate:before {
	content: '\e8e2';
}
.icon.trending-down:before {
	content: '\e8e3';
}
.icon.trending-flat:before {
	content: '\e8e4';
}
.icon.trending-up:before {
	content: '\e8e5';
}
.icon.tune:before {
	content: '\e429';
}
.icon.turned-in:before {
	content: '\e8e6';
}
.icon.turned-in-not:before {
	content: '\e8e7';
}
.icon.tv:before {
	content: '\e333';
}
.icon.unarchive:before {
	content: '\e169';
}
.icon.undo:before {
	content: '\e166';
}
.icon.unfold-less:before {
	content: '\e5d6';
}
.icon.unfold-more:before {
	content: '\e5d7';
}
.icon.update:before {
	content: '\e923';
}
.icon.usb:before {
	content: '\e1e0';
}
.icon.verified-user:before {
	content: '\e8e8';
}
.icon.vertical-align-bottom:before {
	content: '\e258';
}
.icon.vertical-align-center:before {
	content: '\e259';
}
.icon.vertical-align-top:before {
	content: '\e25a';
}
.icon.vibration:before {
	content: '\e62d';
}
.icon.video-call:before {
	content: '\e070';
}
.icon.video-label:before {
	content: '\e071';
}
.icon.video-library:before {
	content: '\e04a';
}
.icon.videocam:before {
	content: '\e04b';
}
.icon.videocam-off:before {
	content: '\e04c';
}
.icon.videogame-asset:before {
	content: '\e338';
}
.icon.view-agenda:before {
	content: '\e8e9';
}
.icon.view-array:before {
	content: '\e8ea';
}
.icon.view-carousel:before {
	content: '\e8eb';
}
.icon.view-column:before {
	content: '\e8ec';
}
.icon.view-comfy:before {
	content: '\e42a';
}
.icon.view-compact:before {
	content: '\e42b';
}
.icon.view-day:before {
	content: '\e8ed';
}
.icon.view-headline:before {
	content: '\e8ee';
}
.icon.view-list:before {
	content: '\e8ef';
}
.icon.view-module:before {
	content: '\e8f0';
}
.icon.view-quilt:before {
	content: '\e8f1';
}
.icon.view-stream:before {
	content: '\e8f2';
}
.icon.view-week:before {
	content: '\e8f3';
}
.icon.vignette:before {
	content: '\e435';
}
.icon.visibility:before {
	content: '\e8f4';
}
.icon.visibility-off:before {
	content: '\e8f5';
}
.icon.voice-chat:before {
	content: '\e62e';
}
.icon.voicemail:before {
	content: '\e0d9';
}
.icon.volume-down:before {
	content: '\e04d';
}
.icon.volume-mute:before {
	content: '\e04e';
}
.icon.volume-off:before {
	content: '\e04f';
}
.icon.volume-up:before {
	content: '\e050';
}
.icon.vpn-key:before {
	content: '\e0da';
}
.icon.vpn-lock:before {
	content: '\e62f';
}
.icon.wallpaper:before {
	content: '\e1bc';
}
.icon.warning:before {
	content: '\e002';
}
.icon.watch:before {
	content: '\e334';
}
.icon.watch-later:before {
	content: '\e924';
}
.icon.wb-auto:before {
	content: '\e42c';
}
.icon.wb-cloudy:before {
	content: '\e42d';
}
.icon.wb-incandescent:before {
	content: '\e42e';
}
.icon.wb-iridescent:before {
	content: '\e436';
}
.icon.wb-sunny:before {
	content: '\e430';
}
.icon.wc:before {
	content: '\e63d';
}
.icon.web:before {
	content: '\e051';
}
.icon.web-asset:before {
	content: '\e069';
}
.icon.weekend:before {
	content: '\e16b';
}
.icon.whatshot:before {
	content: '\e80e';
}
.icon.widgets:before {
	content: '\e1bd';
}
.icon.wifi:before {
	content: '\e63e';
}
.icon.wifi-lock:before {
	content: '\e1e1';
}
.icon.wifi-tethering:before {
	content: '\e1e2';
}
.icon.work:before {
	content: '\e8f9';
}
.icon.wrap-text:before {
	content: '\e25b';
}
.icon.youtube-searched-for:before {
	content: '\e8fa';
}
.icon.zoom-in:before {
	content: '\e8ff';
}
.icon.zoom-out:before {
	content: '\e900';
}
.icon.zoom-out-map:before {
	content: '\e56b';
}
