:root {
	--background-color: #fff;

	--text-color: #212121;
	--text-color-70: color-mod(var(--text-color) alpha(70%));
	--text-color-light: #757575;
	--text-color-white: #fff;
	--text-color-white-70: color-mod(var(--text-color-white) alpha(70%));

	--shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	--shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	--shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	--shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	--shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

	--primary-color: #3f51b5;
	--primary-color-dark: #303f9f;
	--primary-color-light: #c5cae9;

	--color-negative: #d32f2f;
	--color-positive: #4caf50;

	--accent-color: #ffc107;

	--divider-color: #bdbdbd;

	--modal-background-color: rgba(255,255,255,.9);

	--header-height: 50px;
	--footer-height: 50px;

	--rest-timer-size: calc(var(--header-height) - var(--gap));

	--sidebar-width: 250px;

	--gap: 10px;
	--half-gap: calc(var(--gap) / 2);

	--font-size: 16px;
	--font-size-big: calc(var(--font-size) * 1.4);

	--z-index-header: 5;
	--z-index-rest-timer: 6;
	--z-index-sidebar: 10;
}
