#app {
	width: 100%;
}

#content {
	margin-top: var(--header-height);
	margin-bottom: var(--footer-height);
}

.footer {
	width: 100%;
	height: var(--footer-height);

	position: fixed;

	bottom: 0;
	left: 0;

	padding: var(--half-gap);

	display: flex;
	justify-content: flex-end;
}

a:not(.link),
a:not(.link):hover,
a:not(.link):visited {
	text-decoration: none;
	color: inherit;
}

h1,
h2 {
	margin: var(--gap) 0;
	border-bottom: 1px solid var(--divider-color);
}

h3 {
	margin-top: var(--half-gap);
	margin-bottom: var(--gap);
	border-bottom: 1px solid var(--divider-color);
}

h4 {
	margin: var(--half-gap) 0;
	color: var(--text-color-light);
}

input {
	font-family: inherit;

	padding: var(--half-gap);

	border: 1px solid var(--divider-color);
	border-radius: 2px;
}

select {
	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}

	-moz-appearance: none;
	-webkit-appearance: none;

	background: transparent;
	border: none;

	text-align-last: center;

	font-size: var(--font-size);

	cursor: pointer;
}

ul {
	& li {
		list-style: none;
	}
}

.buttons {
	margin-top: var(--gap);
	text-align: right;
}

.box {
	border: 1px solid var(--divider-color);
	border-radius: 2px;

	text-align: center;

	margin: var(--gap);
	padding: var(--gap);

	box-shadow: var(--shadow-1);

	& > .header {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.box-hover {
	&:hover {
		box-shadow: var(--shadow-2);
	}

	transition: box-shadow 0.5s ease-out;
}

.clickable {
	cursor: pointer;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.rest-timer {
	position: fixed;

	top: var(--half-gap);
	right: var(--half-gap);

	padding: 0;

	overflow: hidden;

	text-align: center;

	height: var(--rest-timer-size);
	width: var(--rest-timer-size);

	z-index: var(--z-index-rest-timer);
}
