.dash {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;

	padding: var(--gap);
}

.dash-item {
	flex-direction: column;

	text-align: center;

	box-shadow: var(--shadow-1);

	margin: var(--gap);

	width: 200px;
	height: 200px;

	& > .icon {
		font-size: 3em;
	}
}
