form {
	display: flex;
	flex-direction: column;

	& label {
		display: flex;
		flex-direction: column;

		&:not(:last-of-type) {
			margin-bottom: 10px;
		}

		& .label {
			color: var(--text-color-light);
			text-align: left;
			margin-bottom: var(--half-gap);
		}
	}
}
