#header {
	width: 100%;
	height: var(--header-height);

	position: fixed;
	top: 0;
	left: 0;

	background: var(--primary-color);

	color: var(--text-color-white);

	box-shadow: var(--shadow-1);

	z-index: var(--z-index-header);

	& .save-icon {
		color: var(--text-color-white-70);
	}
}

