@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url('../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
	url('../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
	url('../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.icon:before {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	/* font-size: 24px;  /1* Preferred icon size *1/ */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	position: relative;

	top: 0.12em;
	width: 1em;
}

.icon-small {
	font-size: 12px;
	width: 12px;
}

.icon-big {
	font-size: 24px;
	width: 24px;
}

.icon.access-time:before {
	content: '\e192';
}
.icon.apps:before {
	content: '\e5c3';
}
.icon.check-circle:before {
	content: '\e86c';
}
.icon.chevron-left:before {
	content: '\e5cb';
}
.icon.dashboard:before {
	content: '\e871';
}
.icon.fitness-center:before {
	content: '\eb43';
}
.icon.menu:before {
	content: '\e5d2';
}
.icon.receipt:before {
	content: '\e8b0';
}
.icon.settings:before {
	content: '\e8b8';
}
.icon.save:before {
	content: '\e161';
}
.icon.skip-next:before {
	content: '\e044';
}
.icon.skip-previous:before {
	content: '\e045';
}
