body {
	font-family: monospace;
	background: var(--background-color);
	font-size: var(--font-size);
	color: var(--text-color);

	width: 100%;

	margin: 0;
	padding: 0;

	&.has-modal {
		overflow: hidden;
	}
}

body * {
	box-sizing: border-box;
	user-select: none;
}
