#loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: var(--modal-background-color);
	color: var(--text-color-light);
	font-size: 3em;

	& .msg {
		font-size: 1rem;
	}
}

.is-loading #loader {
	display: flex;
}

.load-icon {
	box-sizing: border-box;
	height: 1em;
	width: 1em;
	border-radius: 50%;
	background: var(--primary-color-light);
	animation: loading-pulse 2s infinite ease-out;
}


@keyframes loading-pulse {
	50% {
		background: var(--primary-color);
	}
}

