.modal {
	position: fixed;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: var(--modal-background-color);

	display: flex;

	align-items: center;
	justify-content: center;
}

.modal-content {
	background: var(--background-color);
	box-shadow: var(--shadow-3);
}
