.page-nav {
	border-bottom: 1px solid var(--divider-color);

	justify-content: center;

	& .icon-button {
		color: var(--text-color);

		&:active {
			background: var(--primary-color);
			color: var(--primary-color-light);
		}
	}
}
