#sidebar {
	z-index: var(--z-index-sidebar);
}

#sidebar.visible {
	& #sidebar-content {
		left: 0;
		box-shadow: var(--shadow-2);
	}

	& #sidebar-background {
		display: block;
	}
}

#sidebar-content {
	z-index: calc(var(--z-index-sidebar) + 1);

	background: var(--primary-color-dark);
	color: var(--text-color-white);

	width: var(--sidebar-width);

	height: 100%;

	position: fixed;

	top: 0;
	left: calc(var(--sidebar-width) * -1);

	transition: left 0.1s ease-out;

	& .header {
		height: var(--header-height);
	}

	& a {
		color: var(--text-color-white);
		text-decoration: none;

		&.active {
			& li {
				background: var(--accent-color);
				color: var(--text-color);
			}
		}

		&:hover {
			& li {
				background: var(--primary-color-light);
				color: var(--text-color);
			}
		}
	}

	& ul {
		padding: 0;
	}

	& li {
		cursor: pointer;

		display: block;

		padding-top: var(--gap);
		padding-bottom: var(--gap);
		padding-left: var(--gap);
	}

	& li {
	}
}

#sidebar-background {
	z-index: var(--z-index-sidebar);

	position: fixed;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	display: none;
}
