.workout-sets {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}

.workout-set {
	width: 200px;
}

.workout-rep {
	font-size: 1.1em;
	margin: 1px 0;
	padding: var(--half-gap);

	border-radius: 2px;

	&.done {
		background: var(--color-positive);
	}

	&.failed {
		background: var(--color-negative);
	}

	& .count {
		display: inline-block;
		min-width: 2ch;
		text-align: right;
	}

	& .mult {
		display: inline-block;
		margin: 0 var(--half-gap);
		color: var(--text-color-70);
	}

	& .weight {
		display: inline-block;
		min-width: 5ch;
		text-align: left;
	}
}
