<Header on:sidebar="refs.sidebar.toggle()" ref:header/>
<Sidebar ref:sidebar/>
<RestTimer/>

<div ref:content id="content">
</div>

<script>
import loader from "../script/loader";
import router from "../script/router";
import store from "../script/store";

import Header from "./header.svelte";
import RestTimer from "./restTimer.svelte";
import Sidebar from "./sidebar.svelte";

import DashPage from "./page/dash.svelte";
import LiftPage from "./page/lift.svelte";
import ProgramPage from "./page/program.svelte";
import SettingPage from "./page/settings.svelte";
import WorkoutPage from "./page/workout.svelte";

const pages = {
	dash: DashPage,
	lifts: LiftPage,
	program: ProgramPage,
	settings: SettingPage,
	workout: WorkoutPage
};

export default {
	components: {
		Header,
		Sidebar,
		RestTimer
	},
	methods: {
		setPage(id) {
			let loadTimer = setTimeout(() => {
					loader.push();
					loadTimer = null;
				}, 100);

			function _endLoad() {
				if (loadTimer) {
					clearTimeout(loadTimer);
					return;
				}
				loader.pop();
			}

			if (this._currentPage) {
				this._currentPage.destroy();
			}

			this.refs.content.className = "page " + id;

			this._currentPage = new pages[id]({
				target: this.refs.content,
				store: this.store
			});

			this._currentPage.load().then(_endLoad, _endLoad);
		}
	},
	oncreate() {
		// map routes to pages
		Object.keys(pages).forEach((pageId) => {
			router.addRouteListener(pageId, this.setPage.bind(this, pageId));
		});
	},
	store() {
		return store;
	}
};
</script>