<svelte:window on:scroll="onWindowScroll(event)"/>

<div ref:header id="header" class="h-container">
	<IconButton on:click="fire('sidebar')" icon="menu">
	</IconButton>
	<div class="item">
		<NavLink route="dash">
			{lang("app.title")}
		</NavLink>
	</div>
	{#if $isSaving}
	<div class="item save-icon animation pulse">
		<span class="icon icon-big save"/>
	</div>
	{/if}
</div>

<script>
import baseData from "../script/baseData";

import IconButton from "./ui/iconButton.svelte";
import NavLink from "./navLink.svelte";

function _scrollPos() {
	return window.pageYOffset || document.documentElement.scrollTop;
}

let _lastScroll = 0;

export default {
	components: {
		IconButton,
		NavLink
	},
	data() {
		return baseData;
	},
	methods: {
		_setTop(top) {
			const height = this.refs.header.clientHeight;

			top = Math.max(top, height * -1);
			top = Math.min(top, 0);

			this.refs.header.style.top = `${top}px`;
		},
		_getTop() {
			return parseInt(this.refs.header.style.top, 0) || 0;
		},
		onWindowScroll() {
			const pos = _scrollPos(),
				top = this._getTop(),
				delta = pos - _lastScroll;

			if (pos === 0) {
				this._setTop(0);
			} else if (delta !== 0) {
				this._setTop(top - delta);
			}

			_lastScroll = pos;
		}
	}
};
</script>