<a on:click="onClick(event)" route="{route}" href="{href}">
	<slot>
	</slot>
</a>

<script>
import router from "../script/router";

export default {
	computed: {
		href: ({ route }) => `#${router.buildPath(route)}`
	},
	methods: {
		onClick(e) {
			e.preventDefault();

			router.navigate(this.get().route, {}, { reload: true });
		}
	}
};
</script>