{#if $restTimer}
<button
	class="rest-timer fab {$restTimer < 10 ? 'negative' : 'positive'}"
	title="{lang("restTimer.hint")}"
	on:click="$clearTimer()"
>
	{$restTimer}
</button>
{/if}


<script>
import baseData from "../script/baseData";

import beep from "../script/helper/beep";

function doBeep(frequency) {
	beep(frequency, 0.4, 0.1);
}

export default {
	data() {
		return baseData;
	},
	oncreate() {
		this.store.on("state", ({ changed, current }) => {
			if (changed.restTimer && current.restTimer !== null) {
				const val = current.restTimer;

				if (val <= 0) {
					doBeep(3000);
				} else if (val <= 2) {
					doBeep(2000);
				}
			}
		});
	}
};
</script>