<div id="sidebar" class="{visible ? 'visible' : ''}">
	<div id="sidebar-content">
		<div class="header h-container clickable" on:click="toggle()">
			<IconButton icon="menu">
			</IconButton>
			<div class="item">
				<NavLink route="dash">
					{lang("app.title")}
				</NavLink>
			</div>
		</div>
		<ul ref:nav on:click="toggle()">
			<NavLink route="dash"><li><span class="icon dashboard"></span> {lang("page.dash")}</li></NavLink>
			<hr>
			<NavLink route="workout"><li><span class="icon fitness-center"></span> {lang("page.workout")}</li></NavLink>
			<NavLink route="program"><li><span class="icon receipt"></span> {lang("page.program")}</li></NavLink>
			<NavLink route="lifts"><li><span class="icon apps"></span> {lang("page.lifts")}</li></NavLink>
			<hr>
			<NavLink route="settings"><li><span class="icon settings"></span> {lang("page.settings")}</li></NavLink>
		</ul>
	</div>
	<div id="sidebar-background" class="clickable" on:click="toggle()"></div>
</div>

<script>
import baseData from "../script/baseData";
import router from "../script/router";

import IconButton from "./ui/iconButton.svelte";
import NavLink from "./navLink.svelte";

export default {
	components: {
		IconButton,
		NavLink
	},
	data() {
		return baseData;
	},
	methods: {
		toggle() {
			this.set({
				visible: !this.get().visible
			});
		},
		onRouteChange(newRoute) {
			let navItems = this.refs.nav.querySelectorAll("[route]");

			for (const navItem of navItems) {
				const routeMatcher = new RegExp("^" + navItem.getAttribute("route") + "(.|$)");

				navItem.classList.toggle("active", newRoute.name.match(routeMatcher));
			}
		}
	},
	oncreate() {
		router.addListener(this.onRouteChange.bind(this));
	},
	ondestroy() {
		router.removeEventListener(this.onRouteChange);
	}
};
</script>